# ========================================
# Python
# ========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.log
*.tmp
*.bak
*.swp

# ========================================
# Notebooks
# ========================================
*.ipynb
.ipynb_checkpoints/

# ========================================
# Virtual Environments
# ========================================
env/
venv/
mtp/
Lib/
bin/
Include/
Scripts/
.venv/

# ========================================
# Environment / Secrets
# ========================================
.env
*.secret
*.key

# ========================================
# Git
# ========================================
.git
.gitignore

# ========================================
# Data & Artifacts
# ========================================
data/
datasets/
data/raw/
data/processed/
src/data/
src/tmp/
checkpoints/
models/
*.pt
*.pth
*.h5
*.pkl
*.joblib
*.tar.gz
*.zip
*.rar
*.csv
*.json
*.tsv
*.xlsx
*.parquet

# ========================================
# MLflow & DVC
# ========================================
mlruns/
src/mlruns/
*.dvc
.dvc/
.cache/
.dvc/cache/
.dvc/tmp/

# ========================================
# Reports, Plots, Results
# ========================================
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.html
*.md
*.txt

# ========================================
# VS Code
# ========================================
.vscode/

# ========================================
# Docker & Build
# ========================================
__docker_build__/
Dockerfile
*.dockerignore

# ========================================
# OS-specific
# ========================================
Thumbs.db
ehthumbs.db
.DS_Store
desktop.ini

# ========================================
# Backup
# ========================================
*~
backup_*/
